*.pyc
*.zip
build/
dist*
release/
*.spec
MyStash/
Guides/
chromedriver_win32/
Default/
Legacy/
Standard/
todo*
*.7z
*.rar
*.exe
test*
*.db
*.csv
*.json
/Config/getMyStashJsonConfig.json
/test
/test2
*.txt
*.bat
*.log

